@CHARSET "UTF-8";

.contacts_main {
	background-color: #fff;
	margin-top: 80px;
	margin-bottom: 50px;
}

thead {
	background-color: #ddd;
}
.table-hover tbody tr:hover>td,.table-hover tbody tr:hover>th {
	background-color: #eee;
}

.contacts_main .pull-right {
	margin-left: 10px;
}

.contacts_main footer {
	height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	background-color:#57A957;
}

.contacts-list button {
	padding-right: 31px;
	padding-left: 31px;
}

.contacts_main .table {
	width: 100%;
	margin-bottom: 20px;
	margin-top: 10px;
}