@CHARSET "UTF-8";

.form-actions {
	padding: 19px 20px 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #fff;
	border: 0
}

/*********************** 미디어 쿼리 시작 *************************/
/* Large desktop */
@media (min-width: 1200px) {
	.offset4 {
		margin-left: 400px;
	}
}

@media (min-width: 980px) and (max-width: 1199px) {
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.navbar-fixed-top, .navbar-fixed-bottom {
		position: fixed;
	}
	.container.text-center h1 {
		padding-top: 40px;
	}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.navbar-fixed-top, .navbar-fixed-bottom {
		position: fixed;
	}
	.container.text-center h1 {
		padding-top: 40px;
	}
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.navbar-fixed-top, .navbar-fixed-bottom {
		position: fixed;
	}
	.container.text-center h1 {
		padding-top: 40px;
	}
}
/*********************** 미디어 쿼리 끝 *************************/