@CHARSET "UTF-8";

.form-actions {
	padding: 19px 20px 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #fff;
	border: 0
}

#join_btn.btn {
	margin-left: -2px;
}

.help-inline {
	font-size: 14px;
}