@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

body {
	font-family: "Nanum Gothic", Arial, sans-serif;
	background-color: #f2f2f2;
	color: #333333;
}

.navbar-inner {
	min-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: linear-gradient(to bottom, #9fc5f8, #6fa8dc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',
		endColorstr='#fff2f2f2', GradientType=0);
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.navbar .brand {
	float: left;
	display: block;
	padding: 10px 20px 10px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	color: #D88A14;
	text-shadow: 0 1px 0 #6D460C;
}

.navbar .nav > li >a {
	float: none;
	padding: 10px 15px 10px;
	color: #ddd;
	text-decoration: none;
	text-shadow: 0 1px 0 #ffffff;
}

.navbar .nav > li > a:hover {
	background-color: transparent;
	color: #fff;
	text-decoration: none;
}

footer {
	min-height: 100px;
	max-height: 200px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: linear-gradient(to bottom, #9fc5f8, #6fa8dc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',
		endColorstr='#fff2f2f2', GradientType=0);
	border: 1px solid #d4d4d4;
}

.span3, .span9 {
	padding-top: 60px;
}
/*********************** 미디어 쿼리 시작 *************************/
/* Large desktop */
@media (min-width: 1200px) {
}
@media (min-width: 980px) and (max-width: 1199px) {
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}
/* Landscape phones and down */
@media (max-width: 480px) {

}
/*********************** 미디어 쿼리 끝 *************************/

/*************************** IE 7,8 버전 스타일시트 시작 ******************************/

/*************************** IE 7,8 버전 스타일시트 종료 ******************************/
