@CHARSET "UTF-8";

.contacts-main {
	background-color: #fff;
	margin-top: 80px;
	margin-bottom: 50px;
}

thead {
	background-color: #ddd;
}
.table-hover tbody tr:hover>td,.table-hover tbody tr:hover>th {
	background-color: #eee;
}

.contacts-main .pull-right {
	margin-left: 10px;
}

.contacts-main footer {
	height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	background-color:#57A957;
}

.contacts-list .form-inline button {
	border: 0px;
	padding: 1px 30px;
}