@CHARSET "UTF-8";

.contacts-main {
	background-color: #ffffff;
}

thead {
	background-color: #ddd;
}
.table-hover tbody tr:hover>td,.table-hover tbody tr:hover>th {
	background-color: #eee;
}

.contacts-main .pull-right {
	margin-left: 10px;
}

.contacts-list {
	margin-left: 50px;
}

